@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;



:root {
    font-family: 'Roboto', sans-serif;
    --p0: #fbfbfb;
    --p1: #8E24AA;
    --p2: #D81B60;
    --p3: #E53935;
    --p4: #FB8C00;
}